{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="columns is-vcentered">
    <div class="column">
      <h1 class="title is-1">Project Tracker</h1>
      <p class="subtitle">Fairway Area 321</p>
    </div>
    <div class="column is-narrow">
      <a href="/submit" id="btn-submit" class="button is-primary" onclick="addClass('#btn-submit', 'is-loading')">Submit Ticket</a>
      <a href="/logout" id="btn-logout" class="button is-primary" onclick="addClass('#btn-logout', 'is-loading')">Logout</a>
    </div>
  </div>
</div>
<br>
<div class="container">
  <span class="tag is-success is-medium">Active Tickets</span>
</div>
<br>
<div class="container">
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th>Key</th>
        <th>Requestor</th>
        <th>Description</th>
        <th>Status</th>
        <th>Estimate</th>
      </tr>
    </thead>
    <tbody>
      {% for issue in active %}
      <tr>
        <td>{{ issue["queue"] }}</td>
        <td>{{ issue["key"] }}</td>
        <td>{{ issue["requestor_name"] }}</td>
        <td>{{ issue["public"] }}</td>
        <td>{{ issue["status_public"] }}</td>
        <td>{{ issue["estimate"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
<div class="container">
  <span class="tag is-warning is-medium">Inactive Tickets</span>
</div>
<br>
<div class="container">
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th>Key</th>
        <th>Requestor</th>
        <th>Description</th>
        <th>Status</th>
        <th>Estimate</th>
      </tr>
    </thead>
    <tbody>
      {% for issue in inactive %}
      <tr>
        <td>{{ issue["queue"] }}</td>
        <td>{{ issue["key"] }}</td>
        <td>{{ issue["requestor_name"] }}</td>
        <td>{{ issue["public"] }}</td>
        <td>{{ issue["status_public"] }}</td>
        <td>{{ issue["estimate"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
<div class="container">
  <span class="tag is-primary is-medium">Print Jobs</span>
</div>
<br>
<div class="container">
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th>Key</th>
        <th>Description</th>
        <th>Status</th>
        <th>Est. Completion</th>
        <th>Delivery</th>
      </tr>
    </thead>
    <tbody>
      {% for issue in print_jobs %}
      <tr>
        <td>{{ issue["queue"] }}</td>
        <td>{{ issue["key"] }}</td>
        <td>{{ issue["description"] }}</td>
        <td>{{ issue["status"] }}</td>
        <td>{{ issue["completion"] }}</td>
        <td>{{ issue["delivery"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
