<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>321 Project Tracker</title>
    <link rel="stylesheet" href="/static/css/main.bundle.css">
    <script src = "https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/site.webmanifest">
    <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#57b5e0">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#57b5e0">
    <meta name="msapplication-config" content="/static/images/browserconfig.xml">
    <meta name="theme-color" content="#57b5e0">
  </head>
  <body>
    <div class="section">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="container">
          {% for message in messages %}
          <div class="notification is-danger">
            <p>{{ message }}</p>
            <button class="delete" aria-label="delete" onclick="addClass('.message', 'is-hidden')"></button>
          </div>
          <br>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript">
      function addClass(el, className){
        var el = document.querySelectorAll(el);

        for (i = 0; i < el.length; i++) {
          if (el.classlist) { el[i].classList.add(className);
          } else {
            el[i].className += ' ' + className;
          }
        }
      }
      function checkSubmit(e){
        if(e && e.keyCode == 13) {
          addClass('#btn-submit', 'is-loading');
          document.forms[0].submit();
        }
      }
    </script>
  </body>
</html>
