{% extends "layout.html" %}

{% block content %}
<div class="container has-text-centered">
  <h1 class="title is-1">Area 321 Project Tracker</h1>
  <h2 class="title is-4">Please enter your phone number to authenticate.</h1>
</div>
<br>
<div class="container">
  <div class="columns is-centered">
    <div class="column is-3">
      <div class="card">
        <div class="card-content">
          <form action="login" method="POST" onKeyPress="return checkSubmit(event)">
              <input type="text" name="username" id="username" placeholder="username" value="user" style="display:none;"/>
              <div class="field">
                <label class="label">Phone number</label>
                <div class="control has-icons-left">
                  <input class="input" type="text" name="phone" id="phone" placeholder="555-555-5555" />
                  <span class="icon is-small is-left">
                    <i class="fas fa-phone"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <a class="button is-primary" id="btn-submit" type="submit" name="submit" onclick="addClass('#btn-submit', 'is-loading'); document.forms['submission'].submit();">Login</a>
                </div>
              </div>
          </form>
        </div>
      </div>
      <br>
      <div class="fairway-icon has-text-centered" style="width: 48px; opacity: 0.15; margin: 0 auto;">
        <img src="/static/images/fairway-black.png">
      </div>
    </div>
  </div>
</div>
{% endblock %}
